<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<%= root_path %>">
				<%= image_tag("logo2.png", :alt => "Pure Safe Beneficial") %>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<!--<%= link_to "Sign up now!", signup_path, class: "navbar-btn btn btn-blue pull-right" %>-->
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Meet Bethany <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Nested Page", nested_page_path %></li>
						<li><%= link_to "Back To Root", root_path %></li>
						<li><%= link_to "Placeholder", placeholder_path %></li>
					</ul>
				</li>
				
				<li><%= link_to "The Opportunity", opportunity_vids_path %></li>
				<% if signed_in? %>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Resources Home", resources_path %></li>
						<li><%= link_to "10 Steps to Getting Started", getting_started_place_order_path %></li>
					</ul>
				</li>	
				
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Account Details", edit_user_path(current_user) %></li>
						<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					</ul>
				</li>
				<% if current_user.admin? %>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Users", users_path %></li>
						<li><%= link_to "View Profile", current_user %></li>
					</ul>
				</li>
				<% end %>
				<% else %>
				<li><a href="/sessions/new"><i class="fa fa-lock"></i></a></li>
				<% end %>
				<!-- Navbar Search -->
				<li class="hidden" id="navbar-search">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i><b class="caret"></b>
					</a>
					<div class="show animated hidden fadeInDown" id="navbar-search-box">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</div>
				</li>
			</ul>
			<!-- Mobile Search -->
			<form class="navbar-form navbar-right visible-xs" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-red" type="button">Search!</button>
					</span>
				</div>
			</form>
		</div><!--/.nav-collapse -->
	</div>
</div>